# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.venv
env/

# Data
data/images/*
data/logs/*
!data/images/.gitkeep
!data/logs/.gitkeep

# config
config.json

# system
.DS_Store
Thumbs.db